FLASK_APP=wsgi
SECRET_KEY=genera-uno-con-python-secrets-token-urlsafe-50
DATABASE_URL=postgresql://usuario:password@host-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_DIRECT=postgresql://usuario:password@host.us-east-2.aws.neon.tech/neondb?sslmode=require
SERVER_ID=Local · dev
APP_MODE=web
LOAD_TEST=0