{% extends "base.html" %}
{% block title %}{{ titulo }} · Lab07{% endblock %}
{% block contenido %}
<h1>{{ titulo }}</h1>
<form method="post" style="max-width:420px;">
  {{ form.hidden_tag() }}

  <label for="nombre">Nombre</label>
  {{ form.nombre(id="nombre") }}
  {% for e in form.nombre.errors %}<div class="campo-error">{{ e }}</div>{% endfor %}

  <label for="precio">Precio</label>
  {{ form.precio(id="precio", step="0.01", min="0") }}
  {% for e in form.precio.errors %}<div class="campo-error">{{ e }}</div>{% endfor %}

  <label for="stock">Stock</label>
  {{ form.stock(id="stock", min="0") }}
  {% for e in form.stock.errors %}<div class="campo-error">{{ e }}</div>{% endfor %}

  <button class="btn" type="submit">Guardar</button>
  <a class="btn-sec" href="{{ url_for('productos.lista') }}" style="text-decoration:none; margin-left:8px;">Cancelar</a>
</form>
{% endblock %}